.ant-layout-header {
    background: #444;
    font-size: 20px;
  }
.footer {
    border-top: 1px solid #ccc;
    padding-top: 30-px;
    color: #aaa;
  }
  .ant-list-item-meta-content .ant-list-item-meta-title{
    font-size: 16px;
    line-height: 30px;
}

img{
  max-width: 100%;
  display: block;
}

label{
  padding: 2px 4px;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  margin-right: 10px;
}
.green{
  background-color: #80bd01;


}
.gray{
  background-color: #e5e5e5;
  color: #999;
}