.logo {
    width: 120px;
    height: 28px;
    background: rgba(255,255,255,0);  
    margin: 16px 28px 16px 0;
    float: left;
    background-image: url(https://o4j806krb.qnssl.com/public/images/cnodejs_light.svg)
}
.content{
     background-color: #fff;
     color: #333;
     margin: 0 20%;
     padding: 24px;
}
.menu{
    background-color:#444;
    color:#fff;
    line-height: 64px;
    float: right;
    margin-right: 200px;
}

