.logo {
    width: 120px;
    height: 28px;
    background: rgba(255,255,255,0);  
    margin: 16px 28px 16px 0;
    float: left;
    background-image: url(https://o4j806krb.qnssl.com/public/images/cnodejs_light.svg)
}
.main{
    color: #333;
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    min-height: 400px;
    margin:  10px auto;
    position: relative;
    margin-bottom: 80px;
}
.content{
    padding: 20px;
    margin-right: 305px;
    background: #fff;
    border-radius: 4px;
}
.sidebar{
    width: 290px;
    font-size: 14px;
    float: right;
    margin-bottom: 20px;
    background: #fff;
}
.menu{
    background-color:#444;
    color:#fff;
    line-height: 64px;
    float: right;
    margin-right: 200px;
}

